html {
  font-family: Roboto, sans-serif;
}

/* HEADER section */
header {
  position: relative;
}

header nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #3c3b3b;
  min-height: 50px;
  width: 100%;
}

header nav .container .nav-item a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  border-right: 2px dotted black;
  padding: 0 46px;
}
header nav .container .nav-item a:hover {
  text-decoration: underline;
}

header nav .container ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 11px;
}

header .menu-bottom {
  position: absolute;
  width: 100%;
  min-height: 90px;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 20px;
  padding-bottom: 15px;
}

header .menu-bottom .container .logo-text {
  font-weight: 100;
  font-size: 13px;
  color: #ffffff;
  margin-top: 3px;
}

header .menu-bottom .container .logo {
  max-width: 100%;
}
header .menu-bottom .container .text-phone-1 {
  font-weight: 300;
  font-size: 12px;
  color: #ffffff;
  text-align: right;
}

header .menu-bottom .container .text-phone-2 a {
  display: block;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
}

header .menu-bottom .container button {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 11px;
  text-align: center;

  width: 170px;
  height: 45px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  outline: 0;
}

/* PROMO section */
.promo {
  min-height: 800px;
  background: url('/img/uber_bg.png') center center/cover no-repeat;
  padding-top: 150px;
  margin-top: 50px;
}

.promo .container .header-text {
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.promo .container .subheader-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.promo .container .promo-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  margin: 30px 80px 0 80px;
}

.promo .container .promo-btn {
  display: block;
  width: 260px;
  height: 65px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 120px;

  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

/* REASON section */
.reason {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  text-align: center;
}

.reason .header-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6px;

  display: block;
  width: 115px;
  height: 25px;
  margin: 0 auto;
  background-color: #000000;
}

.reason .header-text-big {
  font-weight: 700;
  font-size: 38px;
  margin-top: 20px;
  text-transform: uppercase;
  color: #222222;
}

.reason .reason-items {
  margin-top: 20px;
  display: flex;
}

.reason .reason-items .reason-item {
  display: flex;
  height: 170px;
}

.reason .reason-items .reason-item .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 33px;
  margin-right: 25px;
  /* display: block; */
  width: 115px;
  height: 115px;
  background: #1eacc7;
  border-radius: 50%;
}

.reason .reason-items .reason-item .logo img {
  width: 73px;
  height: 67px;
}

.reason .reason-items .reason-item .reason-item-text {
  /* display: inline-block; */
}

.reason .reason-items .reason-item .reason-item-text .header {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #1eacc7;
}

.reason .reason-items .reason-item .reason-item-text p {
  margin-top: 5px;
  text-align: left;
  width: 460px;
  height: 150px;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}
