html {
  font-family: Roboto, sans-serif;
}

/* HEADER section */
header nav {
  background-color: #3c3b3b;
  min-height: 50px;
}

header nav .container .nav-item a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  border-right: 2px dotted black;
  padding: 0 46px;
}
header nav .container .nav-item a:hover {
  text-decoration: underline;
}

header nav .container ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 11px;
}

header .menu-bottom {
  min-height: 90px;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 20px;
  padding-bottom: 15px;
}

header .menu-bottom .container .logo-text {
  font-weight: 100;
  font-size: 13px;
  color: #ffffff;
  margin-top: 3px;
}

header .menu-bottom .container .logo {
  max-width: 100%;
}
header .menu-bottom .container .text-phone-1 {
  font-weight: 300;
  font-size: 12px;
  color: #ffffff;
  text-align: right;
}

header .menu-bottom .container .text-phone-2 a {
  display: block;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
}

header .menu-bottom .container button {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 11px;
  text-align: center;

  width: 170px;
  height: 45px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  outline: 0;
}

/* PROMO section */
.promo {
  /* margin-top: 0px; */
  min-height: 800px;
  background-image: url('/img/uber_bg.png');
}

.promo .container {
  display: block;
  padding-top: 90px;
}
