@media (max-width: 1200px) {
  .menu .menu_nav-item {
    font-size: 13px;
    padding-right: 21px;
  }
  .promo {
    &_header-text {
      font-size: 50px;
    }
  }
  .reason {
    &_items {
      &_item {
        &_text {
          width: 265px;
        }
      }
    }
  }
  .mobile {
    &_items {
      &_item {
        width: 300px;
        &_text {
          font-size: 21px;
        }
      }
    }
  }
  footer {
    .content {
      &_social {
        width: 145px;
      }
    }
  }
}

// @media (max-width: 991px)
